$primary-bgcolor: #FF5722;
$primary-color: #fff;
body{
  color:$primary-color;
}
.row{
  margin-bottom: 50px;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: $primary-bgcolor;
  height: 150px;
  padding: 20px;
  color: $primary-color;;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.carousel-inner > .item > img{
  margin:auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
