$primary-bgcolor: #F8BBD0;
$accent-bgcolor: #E91E63;
$accent-color: #E91E63;
body{
  color:#333;
}
.row{
  margin-bottom: 50px;
}
.App {

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: $accent-bgcolor;
  height: 150px;
  padding: 20px;
  text-align: center;
  color: #fff;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.carousel-inner > .item > img{
  margin:auto;
}
h2{
  text-align: center;
}
nav li{
  display:inline-block;
  margin-right:20px;
}
.buttons{
  text-align: center;
}
dl{
		width:680px;
		margin:auto;
		font-size:18px;
	}
	dt{
		background-color: #FF006D;
		color:#fff;
		padding:10px;

	}
	dd{
		border:1px solid #FF006D;
		padding:10px;
		margin-left:0;
	}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
